<app-carrusel></app-carrusel>

<div class="card mb-8 border-0 justify-content-center" style="max-width: 100%; margin-top: 20px;">
    <div class="row no-gutters">
      <div class="col-md-2 justify-content-center" >
        <img src="https://demoimagesprueba.s3.us-west-2.amazonaws.com/tienda.png" class="card-img" alt="imagen tienda">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">¿Conoces los alimentos que se producen en la región?</h5>
          <p class="card-text">Encuentralos aquí.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

<div class="container">
<app-alimentos-list></app-alimentos-list>
</div>